{% extends 'base.html' %}
{% block content %}

<div id="container">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">date</th>
                <th scope="col">open</th>
                <th scope="col">close</th>
                <th scope="col">high</th>
                <th scope="col">low</th>
                <th scope="col">volume</th>
            </tr>
        </thead>
        <tbody>
            {% if prices %}
            {% for price in prices %}
            <tr>
                <td scope="row">{{ price.date }}</td>
                <td scope="row">{{ price.start }}</td>
                <td scope="row">{{ price.end }}</td>
                <td scope="row">{{ price.high }}</td>
                <td scope="row">{{ price.low }}</td>
                <td scope="row">{{ price.volume }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}