{% extends 'base.html' %}
{% block content %}

<div id="container">
    <table class="table table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col">name</th>
                <th scope="col">code</th>
            </tr>
        </thead>
        <tbody>
            {% if stocks %}
            {% for stock in stocks %}
            <tr>
                <td scope="row">{{ stock.name }}</td>
                <td scope="row">{{ stock.code }}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <a href="{% url 'stocks:overview' %}">삼성</a>
</div>

{% endblock %}